<?xml version="1.0" encoding="utf-8"?>
<!-- AndroidManifest.xml - 应用清单文件
     作用：告诉 Android 系统这个 App 是什么、有哪些组件、要什么权限 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".WageManagerApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WageManager">

        <!-- 主 Activity：App 启动时第一个打开的界面 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WageManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>